@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Here Is What You Need To Know</h3>

<p>This is a connective property Management tool that allows future tenants to work directly with Landlords.</p>
<p>Our goal is to streamline the rental process and alleviate some of the headaches that are all to prevalent in the renting world.</p>
