@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    920-242-0637
</address>

<address>
    <strong>Support:</strong> <a href="mailto:derekscheller23@gmail.com">Derek Scheller</a><br />
    <strong>Marketing:</strong> <a href="mailto:derekscheller23@gmail.com">Derek Scheller</a>
</address>
